[submodule "cpp00"]
	path = cpp00
	url = https://github.com/joeow06/cpp00.git
[submodule "cpp01"]
	path = cpp01
	url = https://github.com/joeow06/cpp01.git
[submodule "cpp02"]
	path = cpp02
	url = https://github.com/joeow06/cpp02.git
